@model SuperMarket.Models.employeeModel

    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="emp_id"/>
        <label>Employee's Name</label> <br />
        <input asp-for="name" placeholder="Enter name here"/> <br />
        <span asp-validation-for="name" class="text-danger"></span> <br /> <br />
        <label>Address</label> <br />
        <input asp-for="address" placeholder="Enter address here"/> <br />
        <span asp-validation-for="address" class="text-danger"></span> <br />
        <input type="submit" value="Update" />
    </form>